@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@font-face{
font-family: "Firenight-Regular";
src:url("../fonts/Firenight-Regular.otf") format("opentype");}

/*body {
    background-image:    url(static/image/pattern.jpg); !important
    background-size:     cover;                      /* <------ */
    background-repeat:   no-repeat;
    background-position: center center;              /* optional, center the image */
}*/
html,
body {
	height: 100%;
}

.carousel-item>img{
    max-height: 300px;
}

@media (min-width: 576px) {
    .card-columns {
        -webkit-column-count: 2;
        column-count: 2
    }
}

@media (min-width: 768px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3
    }
}

@media (min-width: 992px) {
    .card-columns {
        -webkit-column-count: 4;
        column-count: 4
    }
}