{% extends "base.html" %}
{% block content %}
<div class="container">
        <div class="row" style="margin:50px; margin-left:50px;">
            <div class="card-deck">
             <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/image/image1.jfif" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Маршруты</h5>
                    <p class="card-text">Прогулки по улицам Костромы</p>

                    </div>
                 <div class="card-footer text-muted">
                        <a href="/kostroma_routes" class="btn btn-primary" >Гулять!</a>
                </div>
            </div>
             <div class="card" style="width: 18rem;">
                    <img class="card-img-top class" src="/static/image/image2.jfif" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Музеи</h5>
                    <p class="card-text">Кострома - музейная столица</p>

                    </div>

                <div class="card-footer text-muted">
                        <a href="#" class="btn btn-primary">Смотреть!</a>
                </div>
             </div>
             <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/image/image3.jfif" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Достопримечательности</h5>
                    <p class="card-text">Кострома - исторический город</p>
                                        </div>
                 <div class="card-footer text-muted">
                        <a href="/attractions" class="btn btn-primary">Узнать!</a>
                </div>
            </div>
        </div>
            </div>

        </div>
    </div>

{% endblock %}
