{% extends "base.html" %}
{% block content %}
    <div class="container-fluid glass">
        <div class="row" style="margin-top:20px;">
            <div class="card-deck">

             <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/image/image1.jfif" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Маршруты</h5>
                    <p class="card-text">Прогулки по улицам Костромы</p>
                    <a href="#" class="btn btn-primary">Гулять!</a>
                    </div>
            </div>

        <div class="card" style="width: 18rem;">
                    <img class="card-img-top class" src="/static/image/image2.jfif" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Музеи</h5>
                    <p class="card-text">Кострома - музейная столица</p>
                    <a href="#" class="btn btn-primary">Смотреть!</a>
                    </div>
                </div>
            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/static/image/image3.jfif" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">Достопримечательности</h5>
                    <p class="card-text">Кострома - исторический город</p>
                    <a href="/attractions" class="btn btn-primary">Узнать!</a>
                    </div>
            </div>
        </div>
            </div>

        </div>
    </div>
{% endblock %}
