{% extends "base.html" %}
{% block content %}
        <div class="container-fluid" style="margin:50px;">
        <div class="row" >


        <div class="card-columns">
            {% for item in items %}

            <div class="card w-50" style="width: 18rem;">
                    <img class="card-img-top" src={{item.image}} alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.adress}}</p>

                    </div>
            <div class="card-footer">
            <!--<a href="{{url_for('attraction_id', attrac_id=item.id)}}" class="card-link" >Узнать больше</a>-->

               <a href="#" target="_blank"  class="card-link">На карте...</a>
            </div>
            </div>
        {% endfor %}
          </div>
        </div>
    </div>


{% endblock %}
